<div id="curriculum-preview-wrapper">
  <%= turbo_frame_tag "curriculum_new_page" do %>
    <% if @current_curriculum %>
      <%= render partial: "curriculums/curriculum", locals: { curriculum: @current_curriculum } %>
    <% else %>
      <%= link_to "New Curriculum", new_curriculum_path(subject_id: @subject.id) %>
    <% end %>
  <% end %>
  <div id="main-topic-add-btn">
    <%= render partial: "main_topics/add_btn", locals: { subject: @subject, curriculum: @current_curriculum } %>
  </div>
</div>
