<div id="curriculum-progress-preview-wrapper">
  <% main_topics = curriculum.main_topics %>
  <div class="accordion" id=<%= generate_accordion_id("parent_#{curriculum.id}") %>>
    <% main_topics.each do |main_topic| %>
      <%= render partial: "main_topics/main_topic_progress_form", locals: { curriculum: curriculum, main_topic: main_topic } %>
    <% end %>
  </div>
</div>
