<div id="<%= dom_id semester %>">
  <p>
    <strong>School:</strong>
    <%= semester.school_id %>
  </p>
  <p>
    <strong>Academic year:</strong>
    <%= semester.academic_year_id %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= semester.semester_type %>
  </p>
</div>
