<h1>Editing main topic</h1>

<%= render "form", main_topic: @main_topic %>

<br>

<div>
  <%= link_to "Show this main topic", @main_topic %> |
  <%= link_to "Back to main topics", main_topics_path %>
</div>
