<%= turbo_frame_tag "main_topic_new_frame" do %>
  <div class="row">
    <div class="col-md-8 col-10 mx-auto">
      <%= link_to "Cancel", for_teacher_subject_path(@subject) %>
      <%= render "form", main_topic: @main_topic %>
    </div>
  </div>
<% end %>
<br>
<div>
</div>
