<p style="color: green"><%= notice %></p>

<h1>Report card generators</h1>

<div id="report_card_generators">
  <% @report_card_generators.each do |report_card_generator| %>
    <%= render report_card_generator %>
    <p>
      <%= link_to "Show this report card generator", report_card_generator %>
    </p>
  <% end %>
</div>

<%= link_to "New report card generator", new_report_card_generator_path %>
