<div id="loading-wrapper-div" data-controller="loadings">
  <div class="center">
    <div class="ring"></div>
    <span data-endpoint="<%= progress_state_api_report_card_generator_path(@report_card_generator) %>" data-loadings-target="loadingText">loading...</span>
  </div>
</div>
