<div class="container">
  <%= render "shared/buttons/back_btn" %>
  <div class="row">
    <div class="col-md-6 light-grey-card py-2 mx-auto">
      <%= render "form", report_card_generator: @report_card_generator %>
    </div>
  </div>
  <br>
</div>
