<div id="school-main-div">
  <%= render "shared/school_manager_navbar" %>
  <h1>Workings</h1>
  <div id="workings">
    <% @workings.each do |working| %>
      <%= render working %>
      <p>
        <%= link_to "Show this working", working %>
      </p>
    <% end %>
  </div>
  <%= link_to "New working", new_working_path %>
</div>
