<div>
  <% if student.photo.attached? %>
    <%= image_tag url_for(student.photo), class: "img-fluid", crossOrigin: "anonymous", data: { photoUploads_target: "image" } %>
  <% else %>
    <%= image_tag "user_photo.webp", class: "img-fluid", crossOrigin: "anonymous", data: { photoUploads_target: "image" }, alt: "your photo is missing" %>
  <% end %>
</div>
