<div data-controller="students">
  <div>
    <span id="save-photo-btn">Save Photo</span>
  </div>
  <%= form_with url: update_photo_student_path(@student), id: "student-photo-upload-form" do |form| %>
    <%= form.label :select_a_file %>
    <%= form.file_field :photo, data: { action: "change->students#previewPhoto" } %>
  <% end %>
  <div>
    <img id="preview-image" src="" alt="">
  </div>
</div>
