<div>
  <div class="d-flex justify-content-between">
    <button id="save-photo-btn" class="general-btn d-none" data-action="click->students#savePhoto" data-students-target="savePhotoBtn">Save Photo</button>
    <button id="clear-photo-btn" class="general-btn d-none" data-action="click->students#triggerClearPhoto" data-students-target="clearPhotoBtn">Clear</button>
  </div>
  <span id="notification-span" data-students-target="info"></span>
  <%= form_with url: update_photo_student_path(@student), id: "student-photo-upload-form", data: { students_target: "photoForm"} do |form| %>
    <%= form.file_field :photo, data: { action: "change->students#previewPhoto", students_target: "uploadInputField" } %>
  <% end %>
  <div>
    <%= image_tag "", id: "source", data: { students_target: "source" } %>
  </div>
</div>
