<%= render partial: "students/avatar", locals: { student: student }%>
<p class="text-center dashboard-medium-font-size margin-zero pt-3"><%= student.full_name %></p>
<p class="dashboard-normal-font-size margin-zero">matricule: <span class="text-color-grey"><%= student.matricule %></span></p>
<p class="dashboard-normal-font-size margin-zero">portal code: <span class="text-color-grey"><%= student.portal_code %></span></p>
