<h1>Editing student</h1>
<div class="section-div">
  <%= render "form", student: @student %>
</div>
<br>
<div>
  <%= link_to "Show this student", @student %> |
  <%= link_to "Back to students", students_path %>
</div>
<%= image_tag url_for(@student.photo) %>
