<div class="sidebar-link-div-wrapper">
  <div class="row sidebar-link-div-main-section">
    <div class="col-md-2">
      <span class="sidebar-icon-span"><%= fa_icon(main_icon_class) %></span>
    </div>
    <div class="col-md-10 d-flex justify-content-start">
      <%= link_to main_link_text, main_link_path, class: "side-bar-links" %>
    </div>
  </div>
</div>
