<h1>Editing lecturing</h1>

<%= render "form", lecturing: @lecturing %>

<br>

<div>
  <%= link_to "Show this lecturing", @lecturing %> |
  <%= link_to "Back to lecturings", lecturings_path %>
</div>
