<%= turbo_frame_tag dom_id(topic) do %>
  <div class="d-flex justify-content-between align-items-end">
    <p><%= topic.title %> - p -</p>
    <p><%= link_to "edit", edit_topic_path(topic) %></p>
  </div>
<% end %>
