<div>
  <div id="<%= custom_id_generator("preview_main_topic_subtopic_list", record: main_topic) %>">
    <% main_topic.topics.each do |topic| %>
      <%= render topic %>
    <% end %>
  </div>
  <div class="text-center my-3">
    <%= render partial: "topics/add_btn", locals: { subject: subject, main_topic: main_topic } %>
  </div>
</div>
