<h1>Editing school approval request</h1>

<%= render "form", school_approval_request: @school_approval_request %>

<br>

<div>
  <%= link_to "Show this school approval request", @school_approval_request %> |
  <%= link_to "Back to school approval requests", school_approval_requests_path %>
</div>
