<div class="container">
  <h5 class="text-center py-4">Approval Request for <%= @school_approval_request.school.full_name %></h5>
  <div class="row">
    <div class="col-md-6 mx-auto p-3">
      <%= render @school_approval_request %>
    </div>
  </div>
</div>
