<div id="school-main-div">
  <%#= render "shared/school_manager_navbar" %>
  <h1 class="text-center">Report cards</h1>
  <%= render partial: "terms/form", 
        layout: "layouts/modal_layout", 
        locals: { term: @term, action_name: "New Term", action_title: "Create A New Term" }%>
  <div class="row">
    <% @terms.each do |term| %>
      <div class="col-md-3">
        <%= render term %>
      </div>
    <% end %>
  </div>
</div>
