<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= term.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">should add something here</h6>
    <%= render partial: "report_cards/bulk_create_form", 
        layout: "layouts/modal_layout", 
        locals: { report_card: ReportCard.new, term: term, action_name: "Generate Report",
         action_title: "Generate Report Cards Per Class", modal_id: generate_modal_id("report_cards_create_form") }%>
    <div class="report-cards-per-class">
      <% term.classes_with_report_cards.each do |school_class| %>
        <p><%= link_to "#{school_class.name} - View PDF", pdf_download_report_cards_path(school_class_id: school_class.id, term_id: term.id) %></p>
      <% end %>
    </div>
  </div>
</div>
