<div class="container">
  <h4 class="text-center my-4"><%= @academic_year.year %> Academic Year</h4>
  <% if current_school.higher_education? %>
    <%= render partial: "semesters/academic_year_semester_section", locals: { academic_year: @academic_year } %>
  <% else %>
    <%= render partial: "terms/academic_year_term_section", locals: { academic_year: @academic_year } %>
  <% end %>
</div>
