 <!-- Rounded switch -->
<div>
  <% if resource.is_active %>
    <%= fas_icon("toggle-on", class: "toggle-icons toggle-icon-active", data: { action: "click->academicYears#toggleActiveness",
    btnid: "toggle-submit-btn" } ) %>
    <p class="margin-zero dashboard-extra-small">deactivate</p>
    <%= button_to "deactivate",
                resource_deactivate_path,
                method: :put,
                class: "d-none",
                id: "toggle-submit-btn"
                %>
  <% else %>
    <%= fas_icon("toggle-off", class: "toggle-icons toggle-icon-deactivated", data: { action: "click->academicYears#toggleActiveness",
    btnid: "toggle-submit-btn" } ) %>
    <p class="margin-zero dashboard-extra-small">activate</p>
    <%= button_to "activate",
                resource_activate_path,
                method: :put,
                class: "d-none",
                id: "toggle-submit-btn"
                %>
  <% end %>
</div>
