<div class="container-fluid" id="school-top-navbar">
  <ul class="list-unstyled d-flex">
    <li><%= link_to "Classes", classes_schools_path %></li>
    <li><%= link_to "Statistics", school_path(current_school) %></li>
    <li><%= link_to "Teachers", classes_schools_path %></li>
    <li><%= link_to "Settings", classes_schools_path %></li>
  </ul>
</div>
