<div id="<%= dom_id department %>">
  <p>
    <strong>School:</strong>
    <%= department.school_id %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= department.faculty_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

</div>
