<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "departments/department_show_card", locals: { department: @department } %>
    </div>
    <div class="col-md-9">
      <h5 class="text-center light-grey-card py-2">Students</h5>
      <div class="students-list-div white-section-div my-2 scrollable-tbody">
        <%#= render partial: "students/table", locals: { students: @school_class.students } %>
      </div>
    </div>
  </div>
</div>
<%#= button_to "Destroy this department", @department, method: :delete %>
