<div class="container section-div">
  <h5>Upload Images</h5>
  <form method="post">
    <input type="file" name="image" class="image">
  </form>
  <span id="crop-one">CropOne</span>
  <span id="crop-two">CropTwe</span>
  <div id="crop-council">Council Crop</div>
</div>
<div class="section-div">
  <img id="image">
</div>
