<div class="container-fluid dark-blue-section-div">
  <div class="container">
    <div class="text-center pricing-header">
      <h2 class="text-white">Pricing</h2>
    </div>
    <div class="row card-deck">
      <div class="col-md-4 my-3">
        <div class="card">
          <div class="card-header text-white text-center free-card-background">
            <h5 class="my-0 text-white">Free</h4>
          </div>
          <div class="card-body free-card-body-border">
            <ul class="list-unstyled">
              <li class="pricing-list-item">Unlimited Number of collaborators</li>
              <li class="pricing-list-item">All Permissions (teacher, Discipline master, Buster, and Principal)</li>
              <li class="pricing-list-item">Student Profile with Photo and Matricule</li>
              <li class="pricing-list-item">Management of Classes (class list download and generation)</li>
              <li class="pricing-list-item">Management of subjects</li>
              <li class="pricing-list-item">Management of sequential Marks with advanced analysis</li>
              <li class="pricing-list-item">Single Report Card generator</li>
              <li class="pricing-list-item">Bulk automatic Report Card generator</li>
              <li class="pricing-list-item">Default Report Card template</li>
              <li class="pricing-list-item">You lose your school data each term</li>
              <li class="pricing-list-item">No support</li>
            </ul>
          </div>
          <div class="card-footer text-center free-card-background">
            <h6 class="my-0 text-white">0 frs / Student/year</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card">
          <div class="card-header basic-card-background text-white text-center">
            <h5 class="my-0 text-white">Basic</h5>
          </div>
          <div class="card-body basic-card-body-border">
            <ul class="list-unstyled">
              <li class="pricing-list-item">Includes all Free Features</li>
              <li class="pricing-list-item">Your data is persisted across terms and academic years</li>
              <li class="pricing-list-item">Management of classes with Advanced Analysis</li>
              <li class="pricing-list-item">Management of subjects with Advanced Analysis</li>
              <li class="pricing-list-item">Student performance report</li>
              <li class="pricing-list-item">Teacher performance report</li>
              <li class="pricing-list-item">ID card generation with the default template</li>
              <li class="pricing-list-item">School watermark on Report Card</li>
              <li class="pricing-list-item">Support 24/7</li>
            </ul>
          </div>
          <div class="card-footer text-center basic-card-background">
            <h6 class="my-0 text-white">400 frs / Student/year</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card">
          <div class="card-header text-white text-center advanced-card-background">
            <h4 class="my-0">Advanced</h4>
          </div>
          <div class="card-body advanced-card-body-border">
            <ul class="list-unstyled">
              <li class="pricing-list-item">Includes all Basic Features</li>
              <li class="pricing-list-item">School Fees Management and Advanced Reports</li>
              <li class="pricing-list-item">Electronic receipt generation</li>
              <li class="pricing-list-item">School fees receipt verification</li>
              <li class="pricing-list-item">WhatsApp alert on each transaction</li>
              <li class="pricing-list-item">Sharing of receipt to parents through WhatsApp</li>
              <li class="pricing-list-item">A weekly report of fee transactions shared through WhatsApp</li>
            </ul>
          </div>
          <div class="card-footer text-center advanced-card-background">
            <h6 class="my-0 text-white">500 frs / Student/year without WhatsApp notifications</h6>
            <h6 class="my-0 text-white">600 frs / Student/year with WhatsApp notifications</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card">
          <div class="card-header text-white text-center basic-pro-card-background">
            <h5 class="my-0 text-white">Basic Pro</h5>
          </div>
          <div class="card-body basic-pro-card-body-border">
            <ul class="list-unstyled">
              <li class="pricing-list-item">Includes all Advanced Features</li>
              <li class="pricing-list-item">Accounting Feature (Income / Expenditure / Balance sheet)</li>
              <li class="pricing-list-item">Curriculum management</li>
              <li class="pricing-list-item">Daily progress towards curriculum completion</li>
              <li class="pricing-list-item">Teachers' weekly hours and lessons covered</li>
              <li class="pricing-list-item">Management of Student Absences</li>
              <li class="pricing-list-item">Absenteeism WhatsApp notifications</li>
              <li class="pricing-list-item">Customized Report Card template</li>
              <li class="pricing-list-item">Customized Student ID Card template</li>
            </ul>
          </div>
          <div class="card-footer text-center basic-pro-card-background">
            <h6 class="my-0 text-white">800 frs / Student/year</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card">
          <div class="card-header text-white text-center advanced-pro-card-background">
            <h5 class="my-0">Advanced Pro</h5>
          </div>
          <div class="card-body advanced-pro-card-body-border">
            <ul class="list-unstyled">
              <li class="pricing-list-item">Includes all Basic Pro Features</li>
              <li class="pricing-list-item">Unlimited Bulk School Fee reminders sent to parents through WhatsApp</li>
              <li class="pricing-list-item">Unlimited WhatsApp messages sent to parents and teachers</li>
            </ul>
          </div>
          <div class="card-footer text-center advanced-pro-card-background">
            <h6 class="my-0 text-white">1000 frs / Student/year</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
