<div class="container-fluid dark-blue-section-div">
  <div class="text-center pricing-header">
    <h2 class="text-white">Pricing</h2>
  </div>
  <div class="row card-deck">
    <div class="col-md-3 my-3">
      <div class="card">
        <div class="card-header text-white text-center free-card-background">
          <h5 class="my-0 text-white">Free</h4>
        </div>
        <div class="card-body free-card-body-border">
          <h5>Includes</h5>
          <ul class="list-unstyled">
            <li class="pricing-list-item">Unlimited Number of collaborators.</li>
            <li class="pricing-list-item">Automatic Report Card generator.</li>
            <li class="pricing-list-item">Default Report Card template.</li>
            <li class="pricing-list-item">You lose your school data each term.</li>
            <li class="pricing-list-item">No support.</li>
          </ul>
        </div>
        <div class="card-footer text-center free-card-background">
          <h6 class="my-0 text-white">0 frs / Student/year</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 my-3">
      <div class="card">
        <div class="card-header basic-card-background text-white text-center">
          <h5 class="my-0 text-white">Standard</h5>
        </div>
        <div class="card-body basic-card-body-border">
          <ul class="list-unstyled">
            <li class="pricing-list-item">Includes all Free Features.</li>
            <li class="pricing-list-item">Cloud storage for your data.</li>
            <li class="pricing-list-item">Student Profile Photo Upload.</li>
            <li class="pricing-list-item">ID card generation with customized template.</li>
            <li class="pricing-list-item">Customized report card template.</li>
            <li class="pricing-list-item">Branded Report card</li>
            <li class="pricing-list-item">Support 24/7</li>
          </ul>
        </div>
        <div class="card-footer text-center basic-card-background">
          <h6 class="my-0 text-white">500 frs / Student/year</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 my-3">
      <div class="card">
        <div class="card-header text-white text-center advanced-pro-card-background">
          <h4 class="my-0">Premium (recommended)</h4>
        </div>
        <div class="card-body advanced-pro-card-body-border">
          <ul class="list-unstyled">
            <li class="pricing-list-item">Includes all Standard Features.</li>
            <li class="pricing-list-item">School Fees Module.</li>
            <li class="pricing-list-item">Electronic receipt.</li>
            <li class="pricing-list-item">Curriculum module.</li>
            <li class="pricing-list-item">Attendance.</li>
            <li class="pricing-list-item">Messaging module with 1000 messages / month.</li>
          </ul>
        </div>
        <div class="card-footer text-center advanced-pro-card-background">
          <h6 class="my-0 text-white">750 frs / Student/year</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 my-3">
      <div class="card">
        <div class="card-header text-white text-center basic-pro-card-background">
          <h5 class="my-0 text-white">Enterprise</h5>
        </div>
        <div class="card-body basic-pro-card-body-border">
          <ul class="list-unstyled">
            <li class="pricing-list-item">Includes all Premium Features.</li>
            <li class="pricing-list-item">Organization Level.</li>
            <li class="pricing-list-item">Unlimited messages.</li>
            <li class="pricing-list-item">Accounting Module.</li>
          </ul>
        </div>
        <div class="card-footer text-center basic-pro-card-background">
          <h6 class="my-0 text-white">1000 frs / Student/year</h6>
        </div>
      </div>
    </div>
  </div>
</div>
