<ul class="sub-navbar-list">
  <li class="sub-navbar-list-items"><%= link_to "Class List", list_school_class_path(school_class), class: "sub-navbar-links" %></li>
  <li class="sub-navbar-list-items"><%= link_to "Performance Sheets", performance_sheets_school_class_path(school_class), class: "sub-navbar-links" %></li>
</ul>
