<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "school_classes/school_class_show_card", locals: { school_class: @school_class }%>
    </div>
    <div class="col-md-9">
      <div class="section-div">
        <h5>Students</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 py-5">
      <div class="section-div">
        <h5>Subjects</h5>
        <div>
          <%= render partial: "subjects/form", 
        layout: "layouts/modal_layout", 
        locals: { subject: @subject, action_name: "Add Subject", action_title: "Create Subject",
        modal_id: generate_modal_id("subject_create_form") }%>
        </div>
        <% @subjects.each do |subject| %>
          <p><%= link_to subject.name, subject %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 py-5">
      <div class="section-div">
        <h5>Teachers</h5>
      </div>
    </div>
  </div>
</div>
