<div class="container">
  <div class="light-grey-card py-3 px-3 my-3">
    <h4 class="text-center">Help us improve the Education experience by answering these few questions. 🤗</h4>
  </div>
  <div class="light-grey-card px-3 py-4">
    <%= render "teacher_form" %>
  </div>
</div>
