<div class="container-fluid">
  <%= render partial: "progress_stats_section", locals: { progresses: @progresses, 
  topics_covered: @topics_covered, absentist_num: @absentist_num, 
  total_hours_mins_time: @total_hours_mins_time } %>
  <div class="white-section-div my-5">
    <%= render partial: "progress_table", locals: { progresses: @progresses, for_current_user: true } %>
  </div>
</div>
