<div class="container">
  <h4 class="text-center my-2">Subjects</h4>
  <div class="row my-4">
    <div id="subjects" class="col-md-4">
      <% @subjects.each do |subject| %>
        <%= render partial: "subjects/index_card", locals: { subject: subject } %>
      <% end %>
    </div>
  </div>
</div>
