<div class="dark-blue-section-div" id="sign-in-div">
  <div class="container">
    <div class="row light-grey-card py-5">
      <div class="col-md-4" id="sign-in-colum-div">
        <div class="sign-in-form-div py-5 px-4">
          <h4 class="sign-in-headers">Student Portal</h4>
          <%= render "login_form" %>
        </div>
      </div>
      <div class="d-none d-md-block col-md-8">
        <%= image_tag("6.png", class: "img-fluid")%>
      </div>
    </div>
  </div>
</div>
