<ul class="sub-navbar-list">
  <li class="sub-navbar-list-items"><%= link_to "Expenditures", "#", class: "sub-navbar-links" %></li>
  <li class="sub-navbar-list-items"><%= link_to "Deposits", deposits_path, class: "sub-navbar-links" %></li>
</ul>
