<div id="school-main-div">
  <%= render "shared/school_manager_navbar" %>
  <div>
    <%= render partial: "school_classes/form", 
        layout: "layouts/modal_layout", 
        locals: { school_class: @school_class }%>
  </div>
</div>
