<div class="container p-0">
  <h4 class="text-center py-5">Schools</h4>
  <div class="row">
    <% @schools.each do |school| %>
      <div class="col-md-4">
        <%= render school %>
      </div>
    <% end %>
  </div>
  <%= link_to "New school", new_school_path %>
</div>
