<div class="container">
  <h4 class="text-center">New school</h4>
  <div class="row">
    <div class="col-md-7 mx-auto white-section-div">
      <%= render partial: "form", locals: { school: @school, edit: false } %>
    </div>
  </div>
  <br>
  <div>
    <%= link_to "Back to schools", schools_path %>
  </div>
</div>
