<div class="container py-5">
  <h4 class="text-center my-5">New school</h4>
  <div class="mx-auto light-grey-card p-3">
    <%= render partial: "form", locals: { school: @school, edit: false } %>
  </div>
  <br>
  <div>
    <%= link_to "Back to schools", schools_path %>
  </div>
</div>
