<div class="container">
  <h4 class="text-center"><%= current_school.full_name %></h4>
  <h5 class="text-center"><%= current_school.abbreviation %></h5>
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "schools/logo", locals: { school: @school }%>
    </div>
  </div>
</div>
