<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "courses/course", locals: { course: @course } %>
    </div>
    <div class="col-md-9">
      <%= render partial: "enrollments/search_bar" %>
      <div class="white-section-div my-2 scrollable-tbody">
        <%= render partial: "enrollments/table", locals: { enrollments: @enrollments }%>
      </div>
    </div>
  </div>
</div>
