<h1>Editing course registration</h1>

<%= render "form", course_registration: @course_registration %>

<br>

<div>
  <%= link_to "Show this course registration", @course_registration %> |
  <%= link_to "Back to course registrations", course_registrations_path %>
</div>
