:root {
  --main-blue-color: #182237;
  --heighlight-color: #2e374a;
  --background-grey-color: #aaa9a9;
  --main-white: white;
  --grey-color-1: #5d5757;
  --text-color-info: #b3e9f3;
  --text-color-grey: #c6c8ca;
  --text-color-grey-2: #737475;
  --button-grey-color: #6d757d;
  --light-grey-color: #eceef0;
  --general-text-btn-font-size: 15px;
  --general-btn-font-size: 13px;
  --button-padding: 3px 7px;
} 
