body {
  font-family: 'Josefin Sans', sans-serif;
}

.margin-zero {
  margin: 0;
}

h1 {
  color: white;
}

label {
  color: #022130;
  font-family: 'Josefin Sans', sans-serif;
}

.general-btn {
  background-color: var(--button-grey-color);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--general-btn-font-size);
  border: 2px solid var(--main-blue-color);
  border-radius: 5px;
}

.general-btn:hover {
  background-color: var(--main-blue-color);
}

.general-link {
  background-color: var(--button-grey-color);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding: var(--button-padding);
  font-size: var(--general-btn-font-size);
  text-decoration: none;
  border: 2px solid var(--main-blue-color);
  border-radius: 5px;
}

.general-link:hover {
  background-color: var(--main-blue-color);
}

.grey-link-text {
  color: var(--button-grey-color);
}

.grey-link-text:hover {
  color: #40464d;
  text-decoration: none;
}

.edit-link {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
  font-size: var(--general-text-btn-font-size);
}

.edit-link:hover {
  color: #524f4f;
  text-decoration: underline;
}

.model-form-btn {
  height: 35px;
  position: relative;
  top: 3px;
  border: 2px solid var(--main-blue-color);
  border-radius: 5px;
  background-color: var(--button-grey-color);
  color: white;
  font-size: 16px;
}

.canvas-custom-class {
  width: 50% !important;
}

.dark-blue-section-div {
  background-color: var(--main-blue-color);
  color: white;
  border-radius: 10px;
  padding: 10px 4px;
}

.white-section-div {
  background-color: var(--main-white);
  border-radius: 10px;
  padding: 10px 4px;
}

.table-head-styles {
  font-size: 1em;
}

.table-row-data {
  background-color: transparent !important;
  color: var(--grey-color-1) !important;
  padding: 10px 8px !important;
  font-size: 0.8em;
}

.fee-progress-fonts {
  font-size: 1.3em;
}

.thump-up-alert {
  font-size: 1.3em;
}

.dropdown-selection-anim {
  padding: 5px;
  background-color: orange;
}

.modal-header {
  background-color: var(--button-grey-color);
}

.modal-content {
  border: 2px solid var(--button-grey-color);
}

.offcanvas-header {
  background-color: var(--button-grey-color);
  color: white;
}

.btn-close {
  font-size: 1.3em;
  font-weight: 900;
}

.accordion-item {
  margin: 10px 0px;
  background-color: var(--light-grey-color);
}

.accordion-button {
  background: var(--button-grey-color);
  color: white;
  font-weight: 900;
}

.accordion-button:not(.collapsed) {
  background: var(--button-grey-color);
  color: white;
  font-weight: 900;
}

.topic-items {
  border-bottom: 2px solid var(--background-grey-color);
}

.light-grey-card {
  background-color: var(--light-grey-color);
  border: 1px solid #6e757d;
  border-radius: 10px;
}

.delete-text-link {
  text-decoration: underline;
  color: black;
  border: none;
  font-size: var(--general-text-btn-font-size);
}

.sequence-mark-input {
  width: 60%;
}

.percent-complete-badge {
  padding: 5px;
  font-weight: 900;
  border-radius: 30px;
}

.toggle-icons{
  font-size: 1.5em;
}

.toggle-icon-active{
  color: #10c310;
}

.toggle-icon-deactivated{
  color: grey;
}

@keyframes appear-then-fade {

  0%,
  100% {
    opacity: 0
  }

  5%,
  60% {
    opacity: 1
  }
}

.flash {
  position: fixed;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  width: max-content;

  &__message_success {
    animation: appear-then-fade 4s both;
    border-radius: 999px;
    background: var(--success-color);
    color: white;
    padding: 10px;

    @media screen and (max-width: 425px) {
      padding: 2;
    }
  }

  &__message_error {
    animation: appear-then-fade 4s both;
    border-radius: 999px;
    background: var(--error-background-color);
    color: var(--error-text-color);
    padding: 10px;

    @media screen and (max-width: 425px) {
      padding: 2;
    }
  }

  &__message_notice {
    animation: appear-then-fade 4s both;
    border-radius: 999px;
    background: rgb(2, 102, 2);
    color: white;
    padding: 10px;

    @media screen and (max-width: 425px) {
      padding: 2;
    }
  }
}

.form-error-div{
  background: var(--error-background-color);
  color: var(--error-text-color);
}

#school-layout-body {
  background-color: var(--background-grey-color);
}

.icon-small-size {
  font-size: 1.6em;
}

.icon-white {
  color: white;
}

.dashboard-normal-font-size {
  font-size: 1.1em;
}

.dashboard-medium-font-size {
  font-size: 1.4em;
}

.dashboard-small-font-size {
  font-size: 0.8em;
}

.dashboard-extra-small{
  font-size: 0.6em;
}

.text-color-info {
  color: var(--text-color-info);
}

.text-color-grey {
  color: var(--text-color-grey);
}

.text-color-grey-2 {
  color: var(--text-color-grey-2);
}

.custom-border-medium {
  border: 3px solid #6e757d;
}

.custom-border-small {
  border: 2px solid #6e757d;
}

.report-card-table-font-size{
  font-size: 0.9em;
}

.horizontal-scroll{
  // white-space: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.report-card-detail-input-size{
  width: 60px;
}

.scrollable-tbody {
  height: 400px; /* Set the desired height */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
  border: 1px solid #ccc; /* Optional: Add border for visual clarity */
  thead {
    /* Make sure the header cells align with the body cells */
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 425px) {
  .canvas-custom-class {
    width: 90% !important;
  }

  .table-row-data {
    font-size: 0.7em;
  }

  .table-head-styles {
    font-size: 0.9em;
  }

  // .report-card-detail-input-size{
  //   width: 80%;
  // }
}