.nav-link {
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
}

.nav-link:hover {
  border-radius: 20px;
  border: 1px solid white;
  background: rgb(158, 156, 156);
  color: white;
}

#school-top-navbar {
  background: white;
  border-radius: 10px;
}

.school-manager-nav-links {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
}

#main-navbar {
  background-color: var(--main-blue-color);
  border-bottom: 5px solid var(--background-grey-color);
  z-index: 10;
}

#footer-navbar{
  background-color: var(--main-blue-color);
  border-bottom: 5px solid var(--background-grey-color);
  z-index: 10;
  display: none;
}

.navbar-toggler {
  background: white;
}

.navbar-brand {
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 900;
}

.sidebar {
  background-color: var(--main-blue-color);
  padding: 20px 10px;
  min-height: 100vh;
  position: fixed;
  min-width: 16%;
}

.sidebar-link-div-wrapper{
  margin: 10px 0px;
  
  i{
    color: white;
    font-size: 1.3em;
  }

  .side-bar-links{
    color: white;
  }

  .side-bar-dropdown-links{
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-size: 0.9em;
  }

  .expanded-section{
    padding-left: 40px;
  }

  .sidebar-icon-arrow-down{
    cursor: pointer;
  }

  .sidebar-icon-arrow-up{
    cursor: pointer;
  }

  .sidebar-link-div-main-section{
    width: 99%;
    margin: 0 auto;
    padding: 10px 1px;
    background: var(--heighlight-color);
    border-radius: 10px;
  }

  .sidebar-link-div-main-section:hover{
    background: var(--heighlight-color);
  }

  .heighlighted{
    background-color: var(--heighlight-color);
  }

}

.footer-nav-link{
  color: white;
  font-size: 1.2em;
  font-weight: 100;
}

#mobile_nav_drawer{
  background-color: var(--main-blue-color);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  #footer-navbar{
    display: block;
  }
}