.home-page-faint-text {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.section-one {
  background: rgb(24, 34, 55);
  background: radial-gradient(circle, rgba(24, 34, 55, 1) 0%, rgba(24, 34, 55, 0.9570421918767507) 100%);
}

.home-page-btn {
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 400px;
  border: 1px solid white;
}

.home-page-btn-white {
  color: black;
  background: white;
  border: 1px solid #1f293e;
}

.home-page-btn-black {
  color: white;
  background: black;
}

.home-page-btn-blue {
  color: white;
  background: var(--main-blue-color);
}

.home-page-btn-transparent {
  background-color: transparent;
  color: white;
}

.white-background {
  background-color: white;
}

.section-one-role-p {
  font-size: 2.1em;
  font-weight: 600;
}

.role-to-play {
  padding: 10px 25px;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 40px;

}

.role-to-play-blue {
  color: white;
  background: var(--main-blue-color);
  border: 2px solid var(--main-blue-color);
}

.role-to-play-white {
  color: var(--main-blue-color);
  background-color: white;
  border: 2px solid var(--main-blue-color);
}

.homepage-faint-text-dark {
  font-weight: 300;
}

.homepage-key-feature-card {
  border: 1px solid #ded9d9;
  border-radius: 15px;
  padding: 15px 25px;
}

.homepage-key-feature-photo{
  width: 100px;
  height: 100px;
}

.homepage-purple-color{
  color: #6916F1;
}

.homepage-green-color{
  color: #0FC020;
}

.homepage-skyblue-color{
  color: #2297FF;
}

.pricing-header {
  margin: 2rem 0;
}
.card-deck .card {
  margin-bottom: 2rem;
}

.pricing-list-item{
  color: black;
}

.free-card-background{
  background: var(--free-card-color);
}
.free-card-body-border{
  border: 3px solid var(--free-card-color);
}

.free-card-body-border:hover{
  background-color: #cfe5f9;
}

.basic-card-background{
  background-color: var(--basic-card-color);
}

.basic-card-body-border{
  border: 3px solid var(--basic-card-color);
}

.advanced-card-background{
  background-color: var(--advanced-card-color);
}

.advanced-card-body-border{
  border: 3px solid var(--advanced-card-color);
}

.basic-pro-card-background{
  background-color: var(--basic-pro-card-color);
}

.basic-pro-card-body-border{
  border: 3px solid var(--basic-pro-card-color);
}

.advanced-pro-card-background{
  background-color: var(--advanced-pro-card-color);
}

.advanced-pro-card-body-border{
  border: 3px solid var(--advanced-pro-card-color);
}

.pricing-list-item{
  margin: 6px 2px;
  border-bottom: 1px solid grey;
  padding: 5px;
}

@media screen and (max-width: 425px) {
  .section-one-role-p{
    font-size: 1.8em;
  }

}

// .section-four{
//   background-image: url("everyone-graphics.png");
//   background-position: center;
//   background-size: cover;
//   background-attachment: fixed;
//   height: 40vh;
// }