<h1>Editing course result</h1>

<%= render "form", course_result: @course_result %>

<br>

<div>
  <%= link_to "Show this course result", @course_result %> |
  <%= link_to "Back to course results", course_results_path %>
</div>
