<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <div><%= content.html_safe %></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
