<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title"></h6>
    <h6 class="card-subtitle mb-2 text-muted">Teacher: <%= sequence.teacher.name %></h6>
    <%= link_to "View", sequence, class: "card-link" %>
    <%= render partial: "sequences/sequence_card_one", 
        layout: "layouts/drawer_layout", 
        locals: { sequence: sequence, title: sequence.title, item_id: sequence.id, position: "end" }%>
    <%= link_to "Edit", edit_sequence_path(sequence), class: "card-link" %>
  </div>
</div>
