<div class="card"">
  <div class="card-body">
    <h6 class="card-title"><%= sequence.term.title %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Teacher: <%= sequence.teacher.full_name %></h6>
    <div class="d-flex justify-content-between">
      <%= render partial: "sequences/sequence_card_one", 
        layout: "layouts/drawer_layout", 
        locals: { sequence: sequence, title: sequence.term.title, item_id: sequence.id, position: "end", btn_text: "View" }%>
      <%= link_to "Edit", edit_sequence_path(sequence), class: "card-link" %>
    </div>
  </div>
</div>
