<div class="container">
  <%= render "shared/buttons/back_btn" %>
  <div class="row">
    <div class="mx-auto col-md-8 light-grey-card">
      <h4 class="my-3 text-center">Edit sequence</h4>
      <%= render "form", sequence: @sequence %>
    </div>
  </div>
</div>
<br>
