<div class="container">
  <h4 class="text-center my-3">Sequences</h4>
  <div id="sequences">
    <% @sequences.each do |sequence| %>
      <%= render sequence %>
    <% end %>
  </div>
  <div class="white-section-div my-2">
    <%= will_paginate @sequences %>
  </div>
</div>
