<div class="container">
  <% if current_teacher.can_access_admin?(current_school) %>
    <%= link_to "back", sequences_path, class: "general-link" %>
  <% else %>
    <%= link_to "back", for_teacher_subject_path(@sequence.subject), class: "general-link" %>
  <% end %>
  <h5 class="text-center my-3"><%= @sequence.seq_title(with_class_name: true) %></h5>
  <%= render partial: "sequences/preview", locals: { sequence: @sequence } %>
</div>
